.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(7, 30, 100);
  color: white;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  list-style: none;
 
}

.logo-main{
  
  height: 40px;
  width: 50px;
  list-style: none;
}

